@charset "utf-8";
/* CSS Document */
body,ul,li{padding:0px; margin:0px;}
#nav {
	width:230px;
	background-color:#D7D7D7;
	margin:0px auto;
}
.title {
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	text-indent:1em;
	line-height:35px;
	background:#C00 url(../image/arrow-down.gif) 205px 10px no-repeat;
}
#nav ul li {
	height:30px;
	line-height:25px;
	background:url(../image/arrow-icon.gif) 5px 7px no-repeat;
	list-style-type:none;
	padding-left:14px;
	
}
a {
	font-size:14px;
	text-decoration:none;
	color:#000;
}
a:hover {
	color:#F60;
	text-decoration:underline;
}
